// @import "nib"
@import "normalize.styl"
//@import "fonts.styl"

gris_oscuro = #333333
gris_claro = #818181
rojo = #BD255B
gris_mas_claro = #F0F0F0

a
	text-decoration none
body
	font-size 16px
figure
	margin 0

.header
	text-align center
	padding 3.1rem
.menu
	font-family 'Open Sans'
	text-align center
	.list
		.item 
			a
				padding 0 1.3rem
.container
	padding 4.1rem
	font-size 0
	text-align center
.product
	width 14.8rem
	display inline-block
	font-size 1rem
	&:nth-child(even)
		margin-right 0